<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styleLogin.css">
    <script src="javascripts/scriptLogin.js"></script>
    <title>CuideBem - Login</title>
</head>
<body>
    <div class="App">
        <h1>CuideBem</h1>
        <form method="post" action="/login" id="form">
          <label for="IDemail">Email</label>
          <input type="email" id="IDemail" name="email" placeholder="dev@gmail.com" class="input" required></input>
          
  
          <label for="IDsenha">Senha</label>
          <input type="password" id="IDsenha" name="senha" placeholder="Insira a senha" class="input" required></input>
  
          <div class="bnt"><input type="submit" value="Entrar"></div>
          <p>Não possui uma conta? <a href="Cadastro.html">REGISTRE-SE </a></p>
        </form>
      </div>
</body>
</html>